html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
.mainPage {
    width: 100%;
    /* max-width: 177rem; */
    margin: 0 auto;
}

.fixedMenu {
    position: fixed;
    top: 0;
    left:0;
    right:0;
}

nav {
    background: #fff;
    display: flex;
    justify-content: center;
}

nav ul {
    padding: 0;
}

nav a {
    display: block;
    /* text-align: space-evenly; */
    color: #5a5a5a;
    text-decoration: none;
    font-size: 2rem;
    padding: 2.5rem 2.5rem 1rem 2.5rem;
    margin-right: 1rem;
    border-bottom: 2px solid #fff;
}

nav a:hover {
    border-bottom: 2px solid #6fbf49;
}

.aboutMe {
    height: 80rem;
    /* height: 80vh; */
    /* justify-content: space-between; */
    box-sizing: border-box;
    background: url(../img/sekcja1.png) no-repeat right bottom;
    /* background-size: 100%; (50% w mediaQueries- elementy do skalowania 
    transition: background-size 1000ms; */
    margin: 0px;

}

article {
    margin-left: 6rem;
}

article h1 {
    color: #6fbf49;
    font-size: 4rem;
    margin-top: 10rem;
    font-weight: bold;
    text-transform: uppercase;
}

article h2 {
    color: #585858;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 5rem;
    margin-top: 1rem;
    text-transform: uppercase;
}
.aboutMe p {

    font-size: 2rem;
    line-height: 3.2rem;
    color: #585858;
}

/*figure {
    margin: 0;
    padding-bottom: 0;
    align-self: flex-end;
    justify-self: flex-end;

} 

figure img{
    width: 100rem;
    padding-bottom: 0;
} */

.aboutTechnology {
    justify-content: space-between; 
    background: #8ac74d;
    height: 70rem;
    /* box-shadow: 0 3px 5px #888888; */
}

.aboutTechnology h2 {
    font-size: 4.8rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 6rem;
    padding-top: 7rem;
}

.aboutTechnology h3 {
    font-size: 3.6rem;
    color: #fff;
    text-transform: uppercase;
    margin-top: 0.5rem;
    margin-bottom: 9rem;
    margin-left: 6rem;
}

.listOfTechnology {
    display: flex;
    justify-content: space-around;

}

.listOfTechnology p{
    color: #515151;
    font-size: 2.6rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.firstBox,.secondBox,.thirdBox {
    background-color: #fff;
    width: 29rem;
    height: 29rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: width 1300ms;
}

.firstBox:hover, .secondBox:hover, .thirdBox:hover {
    width: 70rem;
}

.firstBox,.secondBox,.thirdBox img {
    margin: 1rem;
}

.socialMedia {
    justify-content: space-between;
    height: 74.5rem;
    background: #fff;
}

.fourthBox, .fifthBox {
    height: 30rem;  
}

.fifthBox img{
    width: 60rem;
    padding-bottom: 0;
}


.fourthBox h3 {
    font-size: 4.8rem;
    text-transform: uppercase;
    color: #5364ae;
    margin-top: 7rem;
    margin-left: 6rem;
}

.fourthBox h4 {
    font-size: 3.6rem;
    text-transform: uppercase;
    color: #545454;
    margin-left: 6rem;
}

button {
    width: 44rem;
    height: 8.5rem;
    margin-top: 4rem;
    margin-left: 4rem;
    border-radius: 4rem;
    
}

.linkedIn{
    background-color: #5364ae;
}

.gitHub{
    background-color: #59489d;

}

button a{
    font-size: 3rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


footer {
    height: 20rem; 
    background: #5364ae;
}


@media (min-width: 96rem) {

}

@media screen and (min-width: 35rem) {
    nav ul {
        display: flex;
    }

    nav li {
        flex: 1 1 0;
    }
}