html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
.mainPage {
    width: 100%;
    max-width: 160rem;
    margin: 0 auto;
}

nav {
    background: #fff;
    display: flex;
    justify-content: center;
}

nav ul {
    padding: 0;
}

nav a {
    display: block;
    /* text-align: space-evenly; */
    color: #5a5a5a;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 2.5rem 2.5rem 1rem 2.5rem;
    margin-right: 1rem;

}

nav a:hover {
    border-bottom: 3px solid #6fbf49;
}

.aboutMe {
    background: #fff;
    height: 55rem;
    margin-left: 4rem;
    justify-content: space-between;
}

article h1 {
    color: #6fbf49;
    font-size: 3rem;
    margin-top: 10rem;
    font-weight: bold;
    text-transform: uppercase;
}

article h2 {
    color: #585858;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5rem;
    margin-top: 1rem;
    text-transform: uppercase;
}
.aboutMe p {

    font-size: 1.5rem;
    line-height: 2rem;
    color: #585858;
}

figure {
    margin: 0;
    padding-bottom: 0;
    align-self: flex-end;

}

figure img{
    width: 68rem;
    padding-bottom: 0;
}

.aboutTechnology {
    justify-content: space-between; 
    background: #8ac74d;
    height: 50rem;
}

.firstBox,.secondBox,.thirdBox {
    height: 25rem;
}

.socialMedia {
    justify-content: space-between;
    background: #E05A2B;
}

.fourthBox, .fifthBox {
    height: 30rem;  
}

footer {
    height: 15rem; 
    background: #B61173;
}


@media (min-width: 96rem) {

}

@media screen and (min-width: 35rem) {
    nav ul {
        display: flex;
    }

    nav li {
        flex: 1 1 0;
    }
}